.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upload-btn, .link-btn {
  padding: 30px 60px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.upload-btn:hover,
.link-btn:hover {
  background-color: #125aa0;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
